# Environments
.venv
.venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Datasets & Caches
archive/
archive.zip
*.cache
custom_dataset/train/
custom_dataset/val/
custom_dataset/test/
custom_dataset/.split_tmp/

# Model Weights
yolo*.pt
last.pt

# Training outputs and test results
runs/
test_results/
garbage_classification_runs/

