# Environments
.venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Datasets & Caches
archive/
archive.zip
*.cache

# Model Weights
yolo*.pt
last.pt

# Training outputs and test results
runs/
test_results/
